.content::before {
  content: '';
  background-image: url('../public/assets/me.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}

.content {
  display: flex;
  min-height: 90vh;
  margin: 75px 50px;
}

.contentCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.cardTitle {
  text-align: center;
}
